@import "http://fonts.googleapis.com/css?family=Roboto:400,700|Fjalla+One"
@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"

// COLORS
////////////////
$base:   #f1f1f1
$black:  #000
$yellow: #f6cb5b
$blue:   #00264c
$white:  #fff



.yellow
  color: $yellow

body
  background: $base
  font-size: 16px
  font-family: 'Roboto', sans-serif
  padding-top: 55px

h1, h2, h3, h4, h5
  font-family: 'Fjalla One', sans-serif
  color: $blue

a
  color: $blue + 80
  &:hover
    text-decoration: none

.nbtn
  background: $blue
  border: none
  padding: 8px 10px
  color: $white
  @include border-top-radius(3px)
  @include border-bottom-radius(3px)
  &:hover
    background: $blue + 20
    color: $white
    @include transition(all .3s ease-in-out .3s)

.navbar
  background: $blue
  border-top: 5px solid $yellow
  border-bottom: 0
  margin-bottom: 0

  a, a.navbar-brand
    color: $white
  
  .nav > li > a:hover
    background: $yellow
    color: $blue

#splash
  background: image-url('splash.jpg') no-repeat
  background-size: cover
  min-height: 400px
  overflow: hidden
  text-align: center
  .logo-image
    margin-top: 40px
    width: 150px
  .logo-text
    color: $white
    text-align: center
    text-shadow: 0 2px 3px $black
    span
      display: block
    .large 
      font-size: 62px

.card
  position: relative
  display: block
  &:hover
    text-decoration: none
  &.white
    background: $white
  &.yellow
    background: $yellow
  &.blue
    background: $blue
    color: $white
    .title
      color: white
  &.medium
    height: 100px
    line-height: 100px
  &.auto-height
    padding-top: 10px
    padding-bottom: 20px
  span
    display: inline
  .title
    font-family: 'Fjalla One', sans-serif
    color: $blue
    font-size: 30px
  .iconic
    background: $blue
    position: absolute
    right: 0
    height: 100px
    width: 100px
    text-align: center
    float: right
    i
      line-height: 100px
      color: $yellow

section:not(#splash)
  padding: 60px 0


section.interlude
  background: $base - 20
  p
    font-size: 24px
    color: $blue

section#join
  background: $yellow

footer
  background: $blue
  border-bottom: 5px solid $yellow
  color: $white
  padding: 10px 0 5px

.center
  text-align: center

.form-group
  input[type=text], textarea
    background: $base - 20
    border: none
  input:focus[type=text]
    background: $white
  input[type=reset]
    margin-right: 20px